select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  background-color: transparent;
  border: none;
  outline: none;
}

select {
  padding: 0 1.5em 0 0.5em;
  background: url("src/assets/img/filter_filters_funnel_list_navigation_sort_sorting_icon_123212 (1) 1.png")
    no-repeat right center / 1em;
}
