input {
  background-image: url("src/assets/img/Rectangle 11.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
  background-position-x: 0.3rem;
  background-size: 1.4rem;
}
