<!-- Sidebar starts -->
<div class="w-64 absolute sm:relative border-r border-r-gray-300 bg-white sm:h-full flex-col  hidden sm:flex">
	<app-side-elements></app-side-elements>
</div>
<!-- button -->
<div
	[ngClass]="'w-64 z-40 absolute bg-white shadow  flex-col h-full justify-between sm:hidden transition duration-150 ease-in-out ' + (isMenu ? 'transform translate-x-0' : 'transform -translate-x-full')">
	<div class=" w-10 bg-white absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer"
		(click)="isMenuBtn()">
		<div class="space-y-2">
			<div class="w-8 h-0.5 bg-gray-600"></div>
			<div class="w-8 h-0.5 bg-gray-600"></div>
			<div class="w-8 h-0.5 bg-gray-600"></div>
		</div>
	</div>
	<div [ngClass]="(isMenu ? 'block' : 'hidden') + ' h-10 w-10 bg-white absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer text-black'"
		(click)="isMenuBtn()">
		<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="20" height="20"
			viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
			stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" />
			<line x1="18" y1="6" x2="6" y2="18" />
			<line x1="6" y1="6" x2="18" y2="18" />
		</svg>
	</div>
	<div>
		<!-- toogle-menu -->
		<app-side-elements></app-side-elements>



	</div>
	<!-- Sidebar ends -->